:root {
  --color-beige-light: #CABEAE;
  --color-deep-black: #1A1818;
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-beige-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--color-beige-light);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Typewriter effect - Global styles */
.typewriter {
  position: relative;
}

.typewriter .cursor {
  display: inline-block;
  color: var(--color-deep-black);
  animation: blink-caret 0.75s step-end infinite;
  margin-left: 2px;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.hover-animate,
a.hover-animate {
  --b: 0.1em;
  --c: #7b7369;

  color: #0000 !important;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition:
    0.3s var(--_s, 0s) linear,
    background-size 0.3s calc(0.3s - var(--_s, 0s));
}

.hover-animate:hover,
a.hover-animate:hover {
  --_p: 100%;
  --_s: 0.3s;
  color: #0000 !important;
}